.f-10{
  font-size: 10px
}
.f-12{
  font-size: 12px
}
.f-14{
  font-size: 14px
}
.f-16{
  font-size: 16px
}
.f-18{
  font-size: 18px
}
.f-20{
  font-size: 20px
}
.f-30{
  font-size: 30px
}
.f-40{
  font-size: 40px
}

// .txt-area{
//   border-radius: 5px;
//   resize: none;
//   position: relative;
//   width: 430px;
//   color: #636161;
//   padding-left: 7px;
//   padding-top: 4px;
// }

.cr-pointer{
  cursor: pointer;
}

.letra-capital{
  text-transform: capitalize;
}

.btn-excel{
  border: 1px solid darkgreen;
  font-size: 35px;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
  color: darkgreen;
}

.btn-pdf{
  border: 1px solid darkred;
  font-size: 35px;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
  color: darkred;
}

.btn-guardar{
  border: none;
  border-radius: 3px;
  background-color: green;
  color: white;
  padding: 5px 7px 5px 7px;
}

.btn-cancelar{
  border: 1px solid darkred;
  border-radius: 5px;
  color: darkred;
  padding: 5px 7px 5px 7px;
}

.btn-crear{
  border: none;
  background-color: lightseagreen;
  border-radius: 5px;
  color: white;
  padding: 5px 7px 5px 7px;
}
